<div class="custom-list">
  <h1>Welcome to the ClassroomDashboard, <%= @current_user.name %>!</h1>
  <% if @current_user.is_a?(Teacher) %>
    Add a <%= link_to "new classroom!", new_classroom_path  %>.
  <% end %>
</div> 

<div class="container-fluid">
  <%= react_component(
    'ClassList', 
    classrooms: @classrooms, 
    current_user: @current_user, 
    userType: @current_user.type,
    memberships: @current_user.memberships_of_user(@current_user) 
  ) %>
</div>