<h1>Write a comment!</h1>

<%= form_for @comment, url: classroom_message_create_comment_index_path(@classroom.id, @message.id) do |f| %>
  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>
