<h1>New Student Membership</h1>
<p><%= link_to "Go back to classroom list", classrooms_path %></p>

<%= form_for [Classroom.find(params[:classroom_id]), @student_membership] do |f| %>
  <div>
    <%= f.label :passcode %><br>
  <input type="number"  name="passcode">
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>